<div class="product" style='opacity: {{opacity}}'>
	<div class="product__top">
		<div class="product__image">
			<img src="/images/product/{{img}}" alt="product">
		</div>
		<div class="product__name">
			{{title}}
		</div>
	</div>
	<div class="product__content">
		<div class="product__breadcrumbs">
			<span>{{weight}}</span>
			<span style='color: {{yellow}}'>{{about}}</span>
		</div>
		<div class="product__content-bottom">
			<div class="product__price h3">
				{{price}}
			</div>
			<div class="product__btn">
				<a href="#">
					<img src="/images/product/{{btn}}" alt="">
				</a>
			</div>
		</div>
	</div>
</div>
